<div class="authform">
	%(error)s
	<form action="%(script)s" method="POST">
		<p>Username: 
			<input type="text" name="username" value="%(username)s"/></p>
		<p>Password: 
			<input type="password" name="password" value="%(password)s"/></p>
		<p><input type="submit" name="Log In"/></p>
	</form>
</div>
